* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%; background: url(/css/images/home_slider.jpg) no-repeat ;background-size: 100%;min-height: 100%; box-sizing: border-box; font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif; color: #888; }
  ::-webkit-input-placeholder { color: #bbb; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  position:fixed;
  top 95%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #d6d6d6;
  font-family: "Lucida Sans Unicode";
  color: #444444;
  font-size: 16px;
  text-align: center;
}
#login { border-radius: 5px; margin: 120px auto; width: 300px; height: 1000px; }
#login h1 {  margin: 0; padding: 15px; border: 1px solid rgba(0,0,0,.3); border-radius: 5px 5px 0 0; font-size: 16px; text-align: center; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.2); background-color: #3f7eb6; box-shadow: inset 0 1px rgba(255,255,255,.3);
		; font-family:Tahoma;
}

/*html { background: url(../images/home_slider.jpg) no-repeat;min-height: 100%; box-sizing: border-box; font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif; color: #888; }
::-webkit-input-placeholder { color: #bbb; } */

.menu-main {
  list-style: none;
  padding: 0 20px;

  font-size: 20px;
  text-align: center;
  position: relative;

}

.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  font-family: 'PT Sans Caption', sans-serif;
  color: #a5a0a0;
  transition: .3s linear;
  position: relative;
  display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
   /* border-color: rgb(53, 167, 110) #000 rgb(76, 165, 180);*/
    border-radius: 6px;
    background: linear-gradient(rgb(15, 178, 243), rgb(22, 152, 227)) rgb(22, 70, 227);
    transition: 0.2s;
}

#ram {background-image: url(/css/images/bg.png) ;
    margin: auto;
    margin-top: 25px;
 width: 1300px;
 min-height: 300px;/* Размеры */

 outline: 2px solid #000; /* Чёрная рамка */
 border: 3px solid #fff; /* Белая рамка */
 border-radius: 10px; /* Радиус скругления */
}


table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	margin-left: 25px;
	margin-right: 25px;
	margin: auto;
	margin-top: 15px;
	margin-botom: 15px;
	font-size: 14px;
	background: white;
	max-width: 70%;
	max-height: auto;
	width: 70%;
	border-collapse: collapse;
	text-align: left;
  }
  th {
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678b1;
	padding: 10px 8px;
  }
  td {
	color: #669;
	padding: 9px 8px;
	transition: .3s linear;
  }
  tr:hover td {color: #6699ff;}

outline: 2px solid #000; /* Чёрная рамка */
border: 3px solid #fff; /* Белая рамка */
border-radius: 10px; /* Радиус скругления */
}

  h2 { color: #7c795d; font-family: ‘Source Sans Pro’, sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }
    .subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }

  .dec { color: #4c4a37; font-family: ‘Source Sans Pro’, sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }

